.doctor{
    background-color: #dccfd436;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-right: 20px;
    margin-bottom: 20px;
}

.doctor-pic{
    text-align: center;
    padding-top: 10px;
}
.doctor-pic img{
    width: 150px;
    height: 150px;
}

.doctor-info{
    /* padding-left: 10px; */
    text-align: center;
}
.doctor-info h2{
    color: #2b1365;
    font-weight: 600;
}
.doctor-info h3, .doctor-info h4{
    font-weight: 400;
}
.doctor-info b{
    color: #02161d;
}
.btn-container{
    text-align: center;
}
.btn{
    color: #2b1365;
    background-color: #2c13651e;
    border-radius: 10px;
    border: 1px solid #4b20da;
    padding: 3px 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn:focus{
    border: 2px solid #4b20da;
}
.fa-user-md{
    color: #2b1365;
    margin-right: 10px;
}